@using Application.Extensions;
@model IEnumerable<Application.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h2>@ViewBag.Title</h2>

@if (this.PermitirExibicao("Produto", "Adicionar"))
{
    <p>
        <a class="btn btn-primary btn-sm" href=@Url.Action("Create", "Produtos")>Novo Produto</a>
    </p>
}

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/imagens/@item.Imagem" alt="@item.Imagem" style="width: 70px; height: 100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td>
                    @item.Valor.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td class="text-end">
                    <a class="btn btn-warning btn-sm" href="@Url.Action("Details", "Produtos", new { id = @item.Id } )"><i class="bi bi-search"></i></a>
                    @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }).PermitirExibicao("Produto", "Editar")*@ 
                    <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "Produtos", new { id = @item.Id } )"><i class="bi bi-pencil"></i></a>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Produtos", new { id = @item.Id } )"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
