@model Application.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Atualizar Endereço";
}

<div class="modal-header">
    <h5 class="modal-title">@ViewData["Title"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(model => model.Endereco.FornecedorId)
        @Html.HiddenFor(model => model.Endereco.Id)

        @Html.Partial("_Endereco")

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Atualizar</button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fechar</button>
        </div>
    </div>
}

<script>
    BuscaCep();
</script>